@import 'tailwindcss';

@config '../../../tailwind.config.mjs';

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

@layer base {
  * {
    @apply border-border;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif tracking-tight;
    font-size: unset;
    font-weight: unset;
  }

  body {
    @apply bg-background text-foreground min-h-screen flex flex-col overflow-x-hidden font-sans;
  }

  p,
  li {
    @apply text-[18px] leading-6 font-light;
  }

  @media (max-width: 770px) {
    table thead tr {
      display: none;
    }
    table tr {
      display: block;
      margin-bottom: 10px;
      padding: 8px;
    }
    table th,
    table td {
      padding: 0.5em;
    }
    table td {
      display: flex;
      text-align: left;
      font-size: 12px;
      padding: 3px !important;
    }
    table td button {
      width: 50%;
    }
    table tbody tr td::before {
      margin-bottom: 5px;
      display: inline-block;
      width: fit-content;
      color: #6c7a89;
      padding-right: 20px;
      content: attr(data-title);
      text-align: left;
      font-weight: 500;
    }

    .font-medium {
      font-size: 14px;
    }
  }
}

@layer base {
  :root {
    --spacing: 0.25rem;
    --header-height: 4rem;
    --sidebar-width: 16rem;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 5.3 75.2% 52.5%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;

    --radius: 0.3rem;

    --success: 173 58% 39%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  [data-theme='dark'] {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 5.3 75.2% 52.5%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;

    --success: 173 58% 39%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 240 5.9% 10%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
