@import '~@payloadcms/ui/scss';

.admin-bar {
  @include small-break {
    display: none;
  }
}

.field__castom--input {
  box-shadow: 0 2px 2px -1px #0000001a;
  font-family: var(--font-body);
  width: 100%;
  border: 1px solid var(--theme-elevation-150);
  border-radius: var(--style-radius-s);
  background: var(--theme-input-bg);
  color: var(--theme-elevation-800);
  font-size: 1rem;
  height: 40px;
  line-height: 20px;
  padding: 8px 15px;
  transition-property: border, box-shadow, background-color;
  transition-duration: 0.1s, 0.1s, 0.5s;
  transition-timing-function: cubic-bezier(0, 0.2, 0.2, 1);
  margin-bottom: 20px;
}
